html, body {
    background-color: #232323;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    scrollbar-color: #000000;
}

.mainTitle {
    color: #FFFFFF;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.whoTitle {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

#backTimer {
    position: fixed;
    top: 30px;
    text-align: center;
    visibility: hidden;
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.5);
    background-color: #1a1a1a;
    border-radius: 20px;
    left: 50%;
    border: #FFFFFF solid 2px;
    transition: 0.3s ease-out;
    transform: translateX(-50%);
    z-index: 1000;
    width: 500px;
}

#timeText {
    color: #FFFFFF;
    font-family: 'Google Sans', sans-serif;
}

.holdMain {
    margin-top: 50px;
    font-family: 'Google Sans', sans-serif;
    text-align: center;
    color: white;
}

.holdSub {
    font-family: 'Google Sans', sans-serif;
    text-align: center;
    color: white;
}

#typeHolder {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#typeHolder button {
    width: 275px;
    height: 75px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    background-color: #1a1a1a;
    color: #FFFFFF;
    border-radius: 20px;
    border: #FFFFFF solid 3px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

#typeHolder button:hover {
    transform: translateX(-50%) scale(1.1);
}

#gameCover {
    background-color: #232323;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    opacity: 1;
    visibility: hidden;
}

.challangeTitle {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    visibility: hidden;
    font-family: 'Google-Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
}

.challangeLabel {
    text-align: center;
    width: 100%;
    color: #e9e9e9;
    visibility: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    padding: 0;
}

.startTimer {
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    margin-top: 200px;
    visibility: hidden;
    font-size: 200px;
    font-family: 'Lato', sans-serif;
    position: fixed;
}

.cardScreen {
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: hidden;
    z-index: 7;
    margin: 0;
    height: 100%;
    background-color: #232323;
}

.cardSideHolder {
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 8;
    width: 50%;
    height: 100%;
    top: 300px;
    position: fixed;
}


.cardBody {
    background-color: #393E46;
    width: 300px;
    height: 150px;
    margin-left: 10px;
    border-radius: 10px;
    pointer-events: none;
    position: relative;
}

.cardTextHolder {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    gap: 2px;
    height: 70px;
}

.cardTitleHolder {
    display: flex;
    flex-direction: column;
}

.bankTitle {
    position: relative;
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    margin-top: 10px;
    margin-right: 20px;
    align-self: flex-end;
}

.bankChip {
    width: 50px;
    height: auto;
    margin-left: 15px;
}

.cardTextHolder p {
    color: #d4d4d4;
    margin: 0;
    margin-left: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.cardNumHolder {
    font-size: 20px;
    font-weight: bold;
}

.backBody {
    background-color: #393E46;
    width: 300px;
    height: 150px;
    margin-left: 10px;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.blackStrip {
    margin-top: 30px;
    width: 100%;
    background-color: #000000;
    height: 50px;
}

.backBody p {
    color: #d4d4d4;
    font-family: 'Ubuntu', sans-serif;
    pointer-events: none;
}

#cardForm {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.cardFormBox {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    width: 500px;
    height: 400px;
    border-radius: 3px;
    background-color: #e0e0e0;
    border: #9b9b9b solid 5px;
}

.cardFormBox h1 {
      color: #202020;
      text-align: center;
      width: 100%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardFormBox p {
    color: #000000;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20px;
}

.cardFormBox input {
    width: 400px;
    height: 35px;
    border-radius: 7px;
    color: #242424;
    font-size: 15px;
    background-color: #cccccc;
    border: #c9c9c9 solid 2px;
    border-radius: 2px;
    height: 40px;
}

.cardFormBox input::placeholder {
    color: #242424;
    text-align: left;
}

.formDiv {
    margin: 0;
}

.formDiv div p {
    padding: 0;
    margin: 0;
}

.formDiv div {
    margin-left: 20px;
    margin-top: 10px;
}

.bottomFormDiv {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 200px;
}

#exDateForm {
    width: 120px;
    text-align: center;
}

#cvvForm {
    width: 50px;
    text-align: center;
    justify-self: flex-end;
}

#cvvForm::placeholder, #exDateForm::placeholder {
    text-align: center;
    font-size: 17px;
}

.subCardButton {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #1fb800;
    color: #d4d4d4;
    position: fixed;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    bottom: 20px;
    cursor: pointer;
}

.payFailText {
    position: absolute;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 10px;
    text-align: center;
    color: #ff0000;
    font-family: 'Ubuntu', sans-serif;
    visibility: hidden;
}

.timeAnimPlay {
    animation: drop 1s ease-out;
}

#finishBoard {
    width: 500px;
    height: 150px;
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.5);
    background-color: #1a1a1a;
    position: fixed;
    left: 50%;
    display: flex;
    justify-content: center;
    visibility: hidden;
    flex-direction: row;
    gap: 20px;
    transform: translateX(-50%);
    z-index: 1000;
    bottom: 50px;
    border-radius: 20px;
    border: #FFFFFF solid 3px;
}

#finishBoard button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.nextDiv, .statDiv {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    position: relative;
    border: #FFFFFF solid 1px;
    visibility: hidden;
    top: 12.5px;
    transition: 0.3s;
    background-color: #0c0c0c;
}

.nextDiv:hover, .statDiv:hover {
    transform: translateY(-12px);
}

.nextDiv h1, .statDiv h1 {
    color: #FFFFFF;
    position: absolute;
    pointer-events: none;
    font-size: 40px;
    left: 50%;
    top: 20px;
    margin: 0;
    transform: translateX(-50%);
}

.nextDiv p, .statDiv p {
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
    font-family: 'Google Sans', sans-serif;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.statDiv p {
    font-size: 12px;
}

.leaveDiv {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    position: relative;
    visibility: hidden;
    border: #ff0000 solid 1px;
    top: 12.5px;
    transition: 0.3s;
    background-color: #0c0c0c;
    animation: popUp 0.3s ease-out;
}

.leaveDiv:hover {
    transform: translateY(-12px);
}

.leaveDiv h1 {
    color: #ff0000;
    position: absolute;
    font-size: 40px;
    left: 50%;
    top: 20px;
    margin: 0;
    transform: translateX(-50%);
}

.leaveDiv p {
    color: #ff0000;
    position: absolute;
    bottom: 20px;
    font-family: 'Google Sans', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.CPScreen {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #232323;
    z-index: 7;
    top: 0;
    margin: 0;
    visibility: hidden;
    padding: 0;
}

.CPScreen div {
    height: 100%;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 8;
}

.ct {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.pt {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.CPTextHolder {
    position: relative;
    background-color: #FFFFFF;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Google Sans', sans-serif;
    width: 900px;
    text-align: center;
}

.CPTextBin {
    position: relative;
    background-color: #FFFFFF;
    height: 180px;
    margin: 10px;
    padding: 10px;
    width: 800px;
    font-size: 10px;
    font-family: 'Google Sans', sans-serif;
    border-radius: 20px;
    text-align: center;
}

.CPSubmit {
    margin-top: 50px;
    width: 300px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    cursor: pointer;
    background-color: #1fb800;
    color: #d4d4d4;
    height: 75px;
    transition: 0.3s ease-out;
    border: 2px #d4d4d4 solid;
}

.CPSubmit:hover {
    rotate: 10deg;
    transform: scale(1.05);
}

#statScreen, .statScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    background: #232323;
    z-index: 9999;
}

#statScreen h1, .statScreen h1 {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

.closeStat {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    box-shadow: 0px 7px 15px rgb(219, 219, 219, 0.2);
    background-color: #0c0c0c;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.closeStat:hover {
    transform: scale(1.05);
}

#challangeBoard, .challangeBoard {
    display: flex;
    position: relative;
    top: 30px;
    gap: 50px;
    width: 100%;
    padding: 0;
    height: 1000px;
    flex-direction: column;
}

.ttl {
    color: #FFFFFF;
    top: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 50px;
    top: 0;
    border-bottom: 1px solid #FFFFFF;
    font-weight: bold;
}

.sc {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.rsc {
    padding-right: 10px;
}

.tl {
    font-weight: bold;
}

.bestTime {
    color: #1fb800;
}

#challangeTemplate, .challangeTemplate {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0;
    visibility: hidden;
    left: 0;
    margin: 0;
}

.tempMain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin: 0 auto;
    pointer-events: none;
    height: 100px;
    bottom: 0;
    background-color: transparent;   
}

#challangeTemplate p, .challangeTemplate p {
    color: #FFFFFF;
    padding-left: 20px;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0 auto;
    display: flex;
    align-self: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
}



@keyframes drop {
    0% {
        transform: translateY(0px) translateX(-50%) scale(1);
        opacity: 1;
        
    } 100% {
        transform: translateY(20px) translateX(-50%) scale(0.7);
        opacity: 0.5;
    }
}


@keyframes fadeIn {
    from {
        transform:translateX(-50%) translateY(-20px);
        opacity: 0.3;
    } to {
        transform:translateX(-50%) translateY(0px);
        opacity: 1;
    }
}

@keyframes popUp {
    0% {
        transform: translateY(12.5px);
    } 70% {
        transform: translateY(-10px);
    } 100% {
        transform: translateY(0px);
    }
} 
