html, body {
    background-color: #232323;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

#topTitle {
    display: flex;
    flex-direction: row;
    z-index: 100;
    text-align: center;
    gap: 20px;
    justify-content: space-evenly;
}

.mainTitle {
    color: #FFFFFF;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.whoTitle {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}


#currentBalance, #roundsWon, #roundsLost, #netProfit {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}


#currentBalanceV, #roundsWonV, #roundsLostV, #netProfitV {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
}

#rollBox, .rollBox2 {
    visibility: hidden;
    transition: 1s ease-out;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 75px;
    text-align: center;
    z-index: 999;
    width: 400px;
    height: 150px;
    align-items: center;
    pointer-events: none;
    background-color: #464646;
    border: #FFFFFF solid 10px;
    border-radius: 20px;
    left: 50%; 
    transform: translateX(-50%);
}

#rollTitle {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-style: unset;
    font-weight: 1px;
    margin: 0;
}

#rollSetter, .rollSetter2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    background-color: #016D29;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    justify-self: center;
    font-size: 30px;
}

#closePrompt, .closePrompt2 {
    margin: 0;
    transition: 0.5s ease-out;
    visibility: hidden;
    transform: translateY(-10px);
    color: #FFFFFF;
}

#gameOverText, .gameOverText {
    position: fixed;
    inset: 0;
    margin: auto;
    display: flex;
    rotate: -45deg;
    justify-self: center;
    z-index: 20;
    background-color: #232323;
    width: 300px;
    height: 75px;
    border-top: 20px solid #FFFFFF;
    border-bottom: 20px solid #FFFFFF;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    visibility: hidden;
    z-index: 1000;
    color: white;
}

#overStatus, .overStatus {
    font-size: 30px;
    animation: slamOverStatus 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F3C620;

}

#finalGain, .finalGain {
    font-family: "Ubuntu", sans-serif;
    animation: slamFinalGain 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-weight: 2;
    color: #22ff00;
    font-size: 25px;
    margin: 10px;
}

#rouletteBoard {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #01431E;
}

#betArea {
    display: flex;
    width: 700px;
    justify-content: flex-start;
}

#rowHolder {
    width: 600px;
    height: 150px; 
    display: flex;
    flex-direction: column;
}

#row1, #row2, #row3 {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    position: relative;
}

.red, .black {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    height: 50px;
    width: 50px;
    border-radius: 1px;
}

.red {
    background-color: #E0080B;
}

.black {
    background-color: #000000;
}

.red:hover, .black:hover, #rowSelect button:hover{
    cursor: crosshair;
    color: #FFFFFF;
    border: 1px solid #3C1912;
    height: 50px;
    width: 50px;
}

#rowSelect {
    width: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

#zeroOptions {
    width: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

#zeroOptions button {
    width: 100%;
    height: 75px;
    background-color: #016D29;
    color: white;
    border: 1px solid #FFFFFF;
}

#rowSelect button {
    width: 100%;
    height: 50px;
    background-color: #016D29;
    color: white;
    border: 1px solid #FFFFFF;
}

 #bottomRow1 {
    width: 100%;
    max-width: 600px;
    height: 50px;
    position: relative;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    left: 50%;
}

#bottomRow1 button {
    background-color: #016D29;
    color: white;
    border: 5px solid #FFFFFF;
    width: 33.33%;
    height: 100%;
}

 #bottomRow2 {
    width: 100%;
    max-width: 600px;
    height: 50px;
    position: relative;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    left: 50%;
}

#bet18, #betEven, #betOdd, #bet36 {
    width: 16.66%;
    height: 100%;
    background-color: #016D29;
    color: white;
    border: 5px solid #FFFFFF;
}

#blackSelected {
    width: 16.66%;
    height: 100%;
    background-color: #000000;
    color: white;
    border: 5px solid #FFFFFF;
}

#redSelected {
    width: 16.66%;
    height: 100%;
    background-color: #E0080B;
    color: white;
    border: 5px solid #FFFFFF;
}

#zeroOptions button:hover {
    cursor: crosshair;
    color: #FFFFFF;
    border: 1px solid #3C1912;
    height: 75px;
    width: 50px;
}

#bottomRow1 button:hover {
    cursor: crosshair;
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    border: 5px solid #3C1912;
}

#bottomRow2 button:hover {
    cursor: crosshair;
    width: 16.66%;
    height: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    border: 5px solid #3C1912;
}

#betInfo {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    text-align: center;
}

#betInfo h1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    
}

#betSet {
    font-weight: 200;
    transition: all 2s ease;
}

#moneyArea {
    width: 700px;
    margin: 0 auto;
    animation: 1s;
    top: 500px;
    height: 180px;
    transition: 1s;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 10px solid #3C1912;
    display: flex;
    background-color: #01431E;
    text-align: center;
    flex-direction: column;
}

#coinHolder {
    display: flex;
    justify-content: center;
    position: relative;
}

#chipHolder5, #chipHolder10, #chipHolder50, #chipHolder100, #chipHolder1000 {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chipGeneral {
    z-index: 2;
    margin-top: 10px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
    color: #3b3b3b;
    position: absolute;
    font-weight: bold;
    text-align: center;
    padding: 0;
    outline: none;
}

.chipGeneral::before {
    content: '';
    position: absolute;
    width: 75%; 
    height: 75%;
    border-radius: 50%;
    background-color: #f0f0f0;
    z-index: -1; 
}

#chip5, .chip5 {
    background: repeating-conic-gradient(
        #000000 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    scale: 1;
    border: 2px solid #000000;
    font-size: 30px;
}


#chip5::before, .chip5::before {
    border: 2px dashed #000000; 

}

#chip10, .chip10 {
    background: repeating-conic-gradient(
        #d32f2f 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    border: 2px solid #b71c1c;
    font-size: 25px;
}


#chip10::before, .chip10::before {
    border: 2px dashed #d32f2f; 
}

#chip50, .chip50 {
    background: repeating-conic-gradient(
        #003172 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    border: 2px solid #003172;
    font-size: 25px;
}


#chip50::before, .chip50::before {
    border: 2px dashed #003172; 
}

#chip100, .chip100 {
    background: repeating-conic-gradient(
        #008307 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    border: 2px solid #008307;
    font-size: 20px;
}


#chip100::before, .chip100::before {
    border: 2px dashed #008307; 
    z-index: -1; 
}

#chip1000, .chip1000 {
    background: repeating-conic-gradient(
        #d3ba2f 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    border: 2px solid #d3ba2f;
    font-size: 15px;
}


#chip1000::before, .chip1000::before {
    border: 2px dashed #d3ba2f; 
}

#coinHolder {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 700px;
    justify-content: space-around;
}

#betNumber {
    text-align: center;
    justify-self: flex-start;
    color: #FFFFFF;
    font-family: "Elms Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}

#clearButton {
    justify-self: center;
    margin-top: auto;
    margin-bottom: 10px;
    background-color: #3C1912;
    color: #FFFFFF;
    width: 100px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 15px;
    border: #FFFFFF solid 1px;
    height: 25px;
}

#clearButton:hover {
    transform: scale(1.1);
}   

#rowManage {
    display: flex;
    height: 100px;
    justify-content: center;
    bottom: 0;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 400px;
    z-index: 0;
    pointer-events: none;
}

#rowManage button {
    margin: 0 auto;
    height: 50px;
    width: 125px;
    background-color: #3b3b3b;
    border-radius: 10px;
    border: #FFFFFF solid 1px;
    transition: transform 0.3s ease;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    z-index: 100;
    pointer-events: auto;
    cursor: pointer;
}

#rowManage button:hover {
    transform: scale(1.1);
}

#betButton {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-self: center;
    z-index: 100;
    margin-top: -80px;
    width: 200px;
    height: 75px;
    border-radius: 10px;
    border: 5px solid #FFFFFF;
    background-color: #000000;
    transition: 0.2s;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.5);
}

#betButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#insertDescription {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 10;
    color: #FFFFFF;
}

#insertArea {
    display: flex;
    flex-direction: row;
    position: relative;
    width:  800px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    height: 75px;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #01431E;
}

#insertArea button {
    z-index: 1;
    margin-top: 10px;
    height:40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    cursor: pointer;
    color: #3b3b3b;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    outline: none;
}

#insertArea button::before {
    content: '';
    position: absolute;
    width: 70%; 
    height: 70%;
    border-radius: 50%;
    background-color: #f0f0f0;
    z-index: -1; 
}

#add5 {
    background: repeating-conic-gradient(
        #000000 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    border: 1px solid #000000;
    font-size: 15px;
}


#add5::before {
    border: 2px dashed #000000; 

}

#add10 {
    background: repeating-conic-gradient(
        #d32f2f 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    border: 1px solid #d32f2f;
    font-size: 15px;
}


#add10::before {
    border: 2px dashed #d32f2f; 
}

#add50 {
    background: repeating-conic-gradient(
        #003172 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    border: 1px solid #003172;
    font-size: 15px;
}


#add50::before {
    border: 2px dashed #003172; 
}

#add100 {
    background: repeating-conic-gradient(
        #008307 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    border: 1px solid #008307;
    font-size: 10px;
}


#add100::before {
    border: 2px dashed #008307; 
    z-index: -1; 
}

#add1000 {
    background: repeating-conic-gradient(
        #d3ba2f 0deg 20deg,
        #FFFFFF 20deg 40deg
    );
    border: 1px solid #d3ba2f;
    font-size: 8px;
}


#add1000::before {
    border: 2px dashed #d3ba2f; 
}

#insertArea h6 {
    text-align: center;
    justify-self: center;
    color: #FFFFFF;
    opacity: 0;
    margin: -20px;
    font-size: 10px;
    transition: transform 0.2s ease;
    pointer-events: none;
}

#insertArea button:hover + h6 {
    opacity: 1;
    transform: translateY(25px);
}

#allInButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    transition: 1s ease-out;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #464646;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border: #F3C620 solid 3px;
    color: #FFFFFF;
    height: 30px;
    width: 100px;
    margin-top: 10px;
}

#allInButton:hover {
    transform: translateX(-50%) scale(1.1);
}

#allInCoverBox, .allInCoverBox {
    top: 150px;
    transform: translateY(-50%);
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #464646;
    justify-content: center;
    justify-self: center;
    z-index: 999;
    pointer-events: none;
    visibility: hidden;
    
}

#allInCover, .allInCover {
    font-size: 50px;
    transform: translateY(-50%);
    letter-spacing: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
    pointer-events: none;
}

#errorPopup {
    display: flex;
    position: fixed;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    z-index: 999;
    visibility: hidden;
    background-color: #1b1b1b;
    border: #E0080B solid 3px;
    border-radius: 10px;
    gap: 10px;
    top: -50px;
}

#errorText {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #E0080B;
    margin: 0;
    font-size: 20px;
    opacity: 1;
    transition: 0.3s;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainCover {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 333;
    visibility: hidden;
}

#blurScreen {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 333;
    visibility: visible;
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 1s linear;
    visibility: hidden;
}

#settingScreen {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 650px;
    height: 300px;
    gap: 20px;
    visibility: hidden;
    background-color: #3b3b3b;
    z-index: 100000;
    justify-content: center;
    justify-self: center;
    border-radius: 1rem;
    border: #FFFFFF solid 10px;
    top: 50%;
    transform: translateY(-50%);
}

#settingScreen h1 {
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 10px;
}

#settingsList {
    display: flex;
    flex-direction: column;
    width: 650px;
    align-items: center;
    justify-self: center;
    gap: 10px;
}

#settingsList div {
    border-radius: 10px;
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding: 10px;
    height: 30px;
    border: #FFFFFF solid 3px;
    align-items: center;
}

#settingsList div p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
}

#cacheCheckbox {
    width: 30px;
    height: 30px;
    border: #FFFFFF solid 1px;
    color: #000000;
    cursor: pointer;
}

#resetButton {
    background-color: #1b1b1b;
    height: 30px;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 100px;
    font-size: 20px;
    color: #FFFFFF;
    border: #FFFFFF solid 1px;
    border-radius: 1rem;
}

#settingClose {
    background-color: #E0080B;
    height: 40px;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
    bottom: 5px;
    font-size: 20px;
    color: #FFFFFF;
    border: #FFFFFF solid 1px;
    border-radius: 0.4rem;
}

#settingClose:hover {
    transform: scale(1.1);
}

#resetButton:hover {
    transform: scale(1.1);
}

#historyScreen {
    visibility: hidden;
    position: fixed;
}

#allInSection {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 50;
    font-weight: 20px;
    border-radius: 1rem;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #F3C620;
    -webkit-text-stroke: #000000 1px;
    opacity: 0;
    visibility: hidden;
}

#allInBody  {
    display: flex;
    margin: 0 auto;
    color: white;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.coverText {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999999999;
    opacity: 0;
    visibility: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
}

@keyframes clearer {
    0% {
        scale: 1;
    }
    10% {
        scale: 1.3;
    }
    90% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

@keyframes slam {
    0% {
        width: 600px;
        height: 150px;
    }
    100% {
        width: 300px;
        height: 75px;
    }
}

@keyframes slamFinalGain {
    20% {
        font-size: 30px;
    }
    100% {
        font-size: 25px;
    }
}

@keyframes slamOverStatus {
    0% {
        font-size: 50px;
    }
    100% {
        font-size: 30px;
    }
}

@keyframes pullUpError {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-100px);
    }
}

@keyframes pullBackError {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slightPull {
    0% {
        transform:  translateY(0);
    }
    100% {
        transform:  translateY(-10px);
    }
}

@keyframes raiseSlight {
    0% {
        transform:  translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(-20px);
    }
}

@keyframes textIncrease {
    from {
        letter-spacing: 20px;
        font-size: 50px;
    }
    to {
        font-size: 100px;
        letter-spacing: 100;
    }
}

@keyframes textIncreaseBox {
    from {
        height: 100px;
    }
    to {
        height: 200px;
    }
}

@keyframes chipSmash {
    0% {
        scale: 5;
    }
    100% {
        scale: 1;
    }
}

@keyframes allCover {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes allCover2 {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 700px) {
    #bottomRow1, #bottomRow2 {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #bottomRow1 button, #bet18, #betEven, #betOdd, #bet36, #blackSelected, #redSelected {
        min-width: 0;
    }
}

@media (max-width: 425px) {
    #mainCover {
        opacity: 1;
        visibility: visible;
        background-color: #000000;
    }

    .coverText {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999999999;
    opacity: 1;
    visibility: visible;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
}


}
