body {
    background-color: #232323;
    overflow-x: hidden;
}

#titleBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    justify-content: space-evenly;
}

.mainTitle {
    color: #FFFFFF;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.whoTitle {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

.gamesTitle {
    top: 300px;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
}

#gamesList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.gameOption, #selectRoulette {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
    width: 400px;
    border-radius: 1rem;
    height: 100px;
    background-color: #1a1a1a;
    position: relative;
    justify-content: center;
    align-items: center;
}

.textSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.textHolder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textHolder h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0;
    font-size: 20px;
    
}

.textHolder p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 10px;
    margin: 0;
    width: 200px;
    font-size: 12px;
}

.buttonHolder {
    width: 200px;
    top: 0;
    height: 50px;
}

.playButtonR {
    width: 120px;
    height: 50px;
    background-color: #000000;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 20px;
    border: 5px solid #232323;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    text-decoration: none;
    font-size: 20px;
}


.bottomText {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

@property --rotangle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#selectRoulette::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-radius: 1rem;
    background-image: conic-gradient(from var(--rotangle), #E0080B, #000000, #000000, #E0080B);
    z-index: -1;
}

#selectRoulette:hover::after {
    animation: rotate 2s ease-in-out;
}

#RselectRoulette::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-radius: 1rem;
    background-image: conic-gradient(from var(--rotangle), #E0080B, #000000, #000000, #E0080B);
    z-index: -1;
}

#RselectRoulette:hover::after {
    animation: rotate 2s ease-in-out;
}

.playButtonR:hover {
    transform: scale(1.1);
    background-color: #414141;
}


@keyframes rotate {
    0% {
        padding: 5px;
        --rotangle: 0deg;
    }
    90% {
        padding: 5px;
        --rotangle: 360deg;
    }
    100% {
        padding: 0;
        --rotangle: 360deg
    }
}

